@import "../../styles/variables.scss";
@import "../../styles/responsive.scss";

form {
  display: flex;
  width: 100%;
  padding: 20px 0;
  gap: 5px;
  margin-bottom: 40px;

  @include sm {
    flex-direction: column;
    gap: 5px;
  }

  .inputs-container {
    display: flex;
    flex: 1;
    gap: 5px;

    @include sm {
      flex-direction: column;
      gap: 5px;
    }
  }

  .input-container {
    display: flex;
    flex: 1;
    padding: 5px 10px;
    flex-direction: column;
    height: 60px;
    background-color: $primary-text-color;
    color: $secondary-text-color;
    text-align: start;

    @include sm {
      height: 40px;
    }

    label {
      font-size: small;
    }

    select {
      background-color: inherit;
      color: inherit;
      font-size: medium;
      height: 40px;
      border: none;

      @include sm {
        height: 30px;
      }
    }
  }

  .from-container {
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;

    @include sm {
      border-bottom-left-radius: 0px;
      border-top-right-radius: 16px;
    }
  }
}
