@import "../../styles/variables.scss";
@import "../../styles/responsive.scss";

.reservations {
  .back-wrapper {
    img {
      width: 32px;
      cursor: pointer;
    }
  }
  form {
    display: flex;
    width: 100%;
    padding: 20px 0;
    gap: 5px;
    margin-bottom: 60px;
    .inputs-container {
      display: flex;
      flex: 1;
      gap: 5px;

      .input-container {
        display: flex;
        flex: 1;
        padding: 5px 10px;
        flex-direction: column;
        height: 60px;
        background-color: $primary-text-color;
        color: $secondary-text-color;
        text-align: start;

        @include sm {
          height: 40px;
        }

        label {
          font-size: small;
        }
        input {
          background-color: inherit;
          color: inherit;
          font-size: medium;
          height: 40px;
          border: none;

          @include sm {
            height: 30px;
          }
        }
      }
      .firstname-container {
        border-top-left-radius: 16px;
        border-bottom-left-radius: 16px;

        @include sm {
          border-bottom-left-radius: 0px;
          border-top-right-radius: 16px;
        }
      }
    }
  }
  .reservations-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
