@import "../../styles/variables.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  margin-bottom: 40px;

  .header-logo {
    display: flex;
    align-items: center;
    height: 32px;
    gap: 15px;
    img {
      width: 32px;
    }
    span {
      font-size: large;
      font-weight: 600;
      color: $primary-text-color;
      text-decoration: none;
    }
  }
  .header-reservations-btn {
    display: flex;
    align-items: center;
    height: 100%;
    button {
      height: 48px;
      border: 0px;
      padding: 5px 20px;
      border-radius: 16px;
    }
  }
}
