@import "../../styles/variables.scss";
@import "../../styles/responsive.scss";

.path {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $primary-text-color;
  color: $secondary-text-color;
  border-radius: 16px;
  transition: height 4s;
  box-shadow: $default-box-shadow;

  .path-info {
    display: flex;
    cursor: pointer;
    gap: 20px;

    @include sm {
      flex-direction: column;
      gap: 5px;
    }
    .path-details {
      display: flex;
      align-items: center;
      gap: 40px;
      padding: 10px 0 10px 20px;
      width: 400px;

      @include sm {
        width: inherit;
        gap: 5px;
        padding: 10px 5px;
        border-bottom: 1px solid $secondary-text-color;
      }

      .planet-details {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4px;

        .planet-flight-time {
          text-align: center;
        }
      }

      .path-time {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 4px;
        border-bottom: 1px solid $secondary-text-color;
        font-size: small;
      }
    }
    .path-price {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-inline: 20px;
      border-left: 1px solid $secondary-text-color;
      min-width: 110px;

      @include sm {
        border-left: none;
        padding: 10px 0;
        width: 100%;
        font-size: medium;
        font-weight: 600;
      }
    }
  }

  .path-flights {
    width: 100%;
    animation: fadeIn 0.5s ease-in-out;
    .flight {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      gap: 4px;
      padding: 20px 0;
      border-top: 1px solid $secondary-text-color;

      .flight-details {
        display: flex;
        flex-direction: column;
        flex: 1;
        gap: 10px;
        padding-left: 20px;
        text-align: start;

        .flight-company {
          .company-name {
            font-size: large;
            font-weight: 600;

            @include sm {
              font-size: small;
            }
          }
        }

        .flight-from-info {
          display: flex;
          justify-content: space-between;
          padding-right: 20px;
        }
        .flight-to-info {
          display: flex;
          justify-content: space-between;
          padding-right: 20px;
        }
      }
      .flight-price {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-inline: 20px;
        border-left: 1px solid $secondary-text-color;
        width: 100px;
      }
    }
  }
  .planet-name {
    font-size: large;
    font-weight: 600;

    @include sm {
      font-size: 14px;
      width: 50%;
    }
  }

  .reserve-container {
    display: flex;
    justify-content: end;
    padding: 20px;
    border-top: 1px solid $secondary-text-color;
    .button-container {
      width: 100px;
      padding-left: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
