@import "../styles/variables.scss";
@import "../styles/responsive.scss";

:root,
body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  height: inherit;
  background: $background-color;
  margin: 0;
  font-size: $font-size-md;
  line-height: $line-height-md;

  color: $primary-text-color;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;

  @include sm {
    font-size: $font-size-sm;
    line-height: $line-height-sm;
  }
}
a {
  text-decoration: none;
}
