// COLORS
$background-color: #6e8894;
$button-background-color: #4d6880;
$reserve-background-color: #494848;
$primary-text-color: #f0f0f0;
$secondary-text-color: #161616;
$error-color: #dc1e1e;
$error-bg-color: #fce8db;
$confirm-color: #3f924d;
$confirm-bg-color: #bef2ca;

// BOX SHADOWS
$default-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);

// FONT SIZES
$font-size-sm: 12px;
$font-size-md: 14px;

// LINE HEIGHTS
$line-height-sm: 16px;
$line-height-md: 20px;
